

joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
matplotlib==3.5.1
matplotlib-inline==0.1.3
numpy @ file:///opt/concourse/worker/volumes/live/046e897c-3622-47d5-79cf-02f72d341f0d/volume/numpy_and_numpy_base_1634106712173/work
pandas==1.3.4
Pillow==8.4.0
scikit-learn==1.0.1
seaborn==0.11.2
streamlit==1.2.0
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
